body{
  background-color: black;
  font-family: Arial;
}

button{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  background-color: #ccd5ae;
  color: #4a4e69;
  font-size: 26px;
  cursor: pointer;
}

.orange{
  background-color: #d4a373;
}

.number{
  color: white;
  font-size: 45px;
}